# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist
tmp
/out-tsc

# dependencies
node_modules
.nx/cache/

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
coverage/
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# Next.js
.next

# we use eslint config instead of prettier directly
/.prettierignore
/.prettierrc

# we use vite instead of babel
babel.config.json

# we build the css in buildtime 
uno.css

# prevent commit env
.env.local
.env.*.local
.env

# prevent commit logger 
error.log
combined.log
newrelic_agent.log